PORT=3000
DATABASE_URL=postgresql://digitalsignage:digitalsignage@localhost:5432/digitalsignage_db
JWT_SECRET=change-me
ADMIN_LOGIN=admin
ADMIN_PASSWORD_HASH=$2b$12$Qv2JIQKOR2mYtGxXf55CrulYRuYe0r7B4f5Q4e2vMYYz6hS31m8cC
FFMPEG_PATH=ffmpeg
USE_VIDEO_IF_SUPPORTED=false
